/* static/css/styles.css */

.carte-joueur {
    position: relative;
}

.carte-design {
    position: relative;
    display: inline-block;
}

.avatar {
    left: 32%; /* droite */
    line-height: 10%;
    position: absolute;
    text-align: center;
    width: 55%;
    bottom: 41%;
    opacity: 0.9; /* Ajout de l'opacité */
}
