/* static/css/styles.css */

.carte-joueur {
    position: relative;
}

.carte-design {
    position: relative;
    display: inline-block;
}

.avatar {
    position: absolute;
    bottom: 150px; /* Ajustez cette valeur selon vos préférences (haut)*/
    right: -70px; /* Ajustez cette valeur selon vos préférences */
    width: 200px; /* Ajustez la taille de l'avatar selon vos préférences */
    height: auto; /* Ajustez la hauteur de l'avatar en conséquence */
}
