/* static/css/styles.css */

.carte-joueur {
    position: relative;
}

.carte-design {
    position: relative;
    display: inline-block;
}

.avatar {
    font-size: 50%;
    left: 30%; /* droite */
    line-height: 10%;
    position: absolute;
    text-align: center;
    width: 60%;
    bottom: 50%;
}
